@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Pretendard-Regular" "NanumSquare", sans-serif;
  color: #444;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

header {
  z-index: 100;
}

h1 {
  font-size: 8.6rem;
}

h4 {
  font-size: 2.5rem;
}

section {
  height: 100vh;
  background: #292929;
  transition: transform 1s;
}

.wrapper {
  transition: transform 1s;
}

section h2 {
  font-size: 6rem;
}

.rel {
  min-width: 1200px;
}

header {
  transition: 0.5s ease-in;
}

::-webkit-scrollbar {
  display: none;
}

main {
  width: 80%;
  height: 100vh;
  margin: auto;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  background: #ffffff fixed;
}
main .main_text {
  position: absolute;
}
main .main_text h1 {
  margin-top: 12rem;
  margin-left: 3rem;
  position: fixed;
  z-index: 1;
}
main .main_text p {
  position: fixed;
  font-size: 1.5rem;
  margin-top: 52rem;
  margin-left: 3rem;
  letter-spacing: -0.01rem;
}
main .main_text img {
  margin-top: 5rem;
  position: fixed;
  margin-left: 5rem;
  animation: scroll 1.5s 2s infinite ease-in-out;
}
main .line1 {
  width: 100%;
  top: 50rem;
  height: 30rem;
  position: fixed;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
main .line2 {
  width: 80%;
  top: 0;
  overflow: hidden;
  height: 11rem;
  position: fixed;
  border-bottom: 1px solid #dedede;
}
main header {
  position: fixed;
  width: 80%;
  z-index: 9999;
}
main header nav {
  position: relative;
  height: 11rem;
}
main header nav .header_ul {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  justify-content: end;
}
main header nav .header_ul a {
  font-size: 2.2rem;
  right: 0;
  margin: 1.9rem;
  display: block;
  font-weight: 600;
}
main header nav .header_ul:active, main header nav .header_ul :hover {
  color: #FFB6D9;
}
main header .on {
  color: #fff;
}
main .scrolling .header_ul a {
  color: #fff;
}
main .border {
  width: 20%;
  height: 100vh;
  margin: auto;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
}
main .scroll {
  position: fixed;
  display: flex;
  left: calc(50% - 1.1rem);
  bottom: 13%;
  animation: scroll 1.5s 2s infinite ease-in-out;
  transition: 50%;
}
main .scroll p {
  padding: 1rem 0;
  left: 0.5rem;
}
main .scroll img {
  height: 4.6rem;
  width: 2.2rem;
  border-radius: 0;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.scroll_top_btn {
  position: fixed;
  z-index: 300;
  bottom: 8rem;
  right: 15rem;
  width: 8rem;
  height: 8rem;
  background: url(../img/02hpIkbEsT3xf2.png) no-repeat center;
  text-indent: -9999px;
  transition: 0.5s ease-in-out;
  animation: scroll 1.5s infinite ease-in-out;
  opacity: 1;
}
.scroll_top_btn:hover {
  animation: none;
}

@keyframes scroll_top_btn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}
.section0 {
  display: none;
  position: relative;
  z-index: -1;
  background: #ffffff fixed;
}

.aboutme_slide {
  overflow: hidden;
  position: absolute;
  width: 100%;
  display: block;
  background: #4F4F4F;
  z-index: 100;
  padding: 1rem 0;
}
.aboutme_slide .pd {
  position: absolute;
  width: 100%;
  background: #2e2e2e;
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 50px;
}
.aboutme_slide h2 {
  color: #fff;
  margin: 0 1rem;
  text-align: center;
}
.aboutme_slide h2:first-child {
  margin-bottom: 3rem;
}
.aboutme_slide h2 span {
  color: #FFB6D9;
}
.aboutme_slide .s1_slide {
  width: auto;
  position: relative;
}
.aboutme_slide .s1_slide .row2 {
  position: relative;
  margin-top: 3rem;
  width: 100%;
}
.aboutme_slide .s1_slide .row1 {
  padding-bottom: 2rem;
}
.aboutme_slide .s1_slide .row {
  overflow: hidden;
  height: 9rem;
  display: flex;
}
.aboutme_slide .s1_slide .row .row_inner {
  display: flex;
  top: 0;
  position: absolute;
  width: 288rem;
}
.aboutme_slide .s1_slide .row .row_inner h2 {
  width: 35rem;
}
.aboutme_slide .s1_slide .row.row1 .row_inner {
  left: 0;
  animation: row1 30s linear infinite alternate;
}
.aboutme_slide .s1_slide .row.row2 .row_inner {
  right: 0;
  animation: row2 30s linear infinite alternate;
}
.aboutme_slide .s1_slide::after {
  display: none;
  position: absolute;
  content: "";
  width: 97%;
  height: 2rem;
  border-radius: 5rem;
  background: #3d3d3d;
  justify-content: center;
  align-items: center;
  top: 48%;
  z-index: 1;
}
@keyframes row1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-55%);
  }
}
@keyframes row2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(60%);
  }
}

.section1-2 {
  z-index: 100;
  position: relative;
}
.section1-2 .aboutme-wrap {
  display: flex;
  margin: auto;
}
.section1-2 .aboutme-wrap .aboutme {
  display: flex;
  text-align: center;
  width: 100%;
  align-items: center;
  height: 100vh;
  padding: 0 10rem;
  bottom: 0;
  color: #fff;
}
.section1-2 .aboutme-wrap .aboutme div {
  flex: 1;
  margin: 0 5rem;
  max-width: 50rem;
  border-radius: 5rem;
  height: 70rem;
  background: #686868;
  margin: auto;
}
.section1-2 .aboutme-wrap .aboutme .idcard {
  align-items: center;
}
.section1-2 .aboutme-wrap .aboutme .idcard h3 {
  font-size: 1.7rem;
  margin-top: 10%;
  text-align: left;
  padding-left: 10rem;
}
.section1-2 .aboutme-wrap .aboutme .idcard img {
  margin-top: 10rem;
  margin-bottom: 5rem;
  width: 25rem;
  height: 25rem;
  border-radius: 50rem;
  background: #fff;
}
.section1-2 .aboutme-wrap .aboutme .idcard p {
  line-height: 2;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  padding-left: 17rem;
  bottom: 0%;
}
.section1-2 .aboutme-wrap .aboutme .idcard p span {
  font-size: 17px;
  font-weight: 400;
}

.section2 {
  z-index: 1200;
  background: #111;
}
.section2 .section2_wrap {
  width: 100rem;
  height: 100rem;
  z-index: 200;
  background: #111;
}
.section2 .section2_wrap div {
  z-index: 200;
}

.section3 {
  height: 100vh;
  z-index: 200;
}
.section3 .tab .tab_name {
  margin: auto;
  display: flex;
  position: relative;
  background: #292929;
  padding: 5rem 0;
  z-index: 100;
}
.section3 .tab .tab_name h2 {
  padding-left: 15rem;
  color: #fff;
  font-size: 6rem;
}
.section3 .tab .tab_name .tabMenu {
  display: flex;
  color: #fff;
  width: 100%;
}
.section3 .tab .tab_name .tabMenu li {
  margin-left: 2rem;
  margin-top: 2rem;
}
.section3 .tab .tab_name .tabMenu li i {
  font-size: 3.5rem;
}
.section3 .tab .tab_name .tabMenu li.active {
  color: #FFB6D9;
}
.section3 .tab .tabBody {
  display: inline-block;
  width: 100%;
  position: relative;
}
.section3 .tab .tabBody .swiper .swiper-wrapper .swiper-slide {
  height: 60rem;
  min-width: 43.3rem;
  height: 60rem;
  max-width: 43.3rem;
  display: flex;
  margin: 7rem;
  column-gap: 5px;
  background: #fff;
}
.section3 .tab .tabBody .swiper .swiper-wrapper .line {
  width: 100%;
  height: 11px;
}
.section3 .tab .tabBody .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #FFB6D9;
}
.section3 .tab .tabBody .desien_posters .desien_wrap {
  width: 1092px;
  margin: auto;
}
.section3 .tab .tabBody .desien_posters .desien_wrap .item_wrap, .section3 .tab .tabBody .desien_posters .desien_wrap .item_wrap_more {
  padding-top: 20px;
}
.section3 .tab .tabBody .desien_posters .desien_wrap .item_wrap .item, .section3 .tab .tabBody .desien_posters .desien_wrap .item_wrap_more .item {
  flex: 1;
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-bottom: 20px;
  overflow: hidden;
}
.section3 .tab .tabBody .desien_posters .desien_wrap .item_wrap .item a, .section3 .tab .tabBody .desien_posters .desien_wrap .item_wrap_more .item a {
  display: block;
}
.section3 .tab .tabBody .desien_posters .desien_wrap .item_wrap .item .thumb, .section3 .tab .tabBody .desien_posters .desien_wrap .item_wrap_more .item .thumb {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  background: #fff;
  object-fit: cover;
}
.section3 .tab .tabBody .desien_posters .desien_wrap .item_wrap .item img, .section3 .tab .tabBody .desien_posters .desien_wrap .item_wrap_more .item img {
  width: 100%;
  transition: 0.3s;
}
.section3 .tab .tabBody .desien_posters .desien_wrap .item_wrap .item img:hover, .section3 .tab .tabBody .desien_posters .desien_wrap .item_wrap_more .item img:hover {
  transform: scale(1.1);
}
.section3 .tab .tabBody .desien_posters .desien_wrap .item_wrap_more {
  display: none;
}
.section3 .tab .tabBody .desien_posters .desien_wrap .moreBtn {
  margin: auto;
  display: flex;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  background: #494949;
  color: #fff;
}
.section3 .tab .tabBody .desien_posters .desien_wrap .moreBtn:hover {
  background: #5d5d5d;
}
.section3 .tabBody {
  z-index: 200;
}
.section3 .tabBody > div {
  height: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.section3 .tabBody > div:nth-child(1) {
  background: #5c5c5c;
}
.section3 .tabBody > div:nth-child(2) {
  background: #313131;
}

.desien_plus {
  position: absolute;
  width: 100%;
  height: 50%;
  border: 2px solid rgb(0, 255, 0);
}

/*# sourceMappingURL=style.css.map */
