





// .tabMenu { border:2px solid red;
//   display:grid; 
//   grid-template-columns:repeat(3,1fr);
//   height:40px; 
// }
// .tabMenu li{ border-right:2px solid red;
//   text-align: center;
//   line-height: 40px;
//   font-weight: bold;
//   cursor: pointer; background:rgb(42, 75, 124);
//   box-sizing: border-box; color:#fff;
// }
// .tabMenu li:last-child {border-right:none;}

// .tabMenu li.active { background:#e7edff; color:#2c347c; }


